PORT=3000

# Biến có tiền tố NEXT_PUBLIC_ mới được truyền xuống Client-side
NEXT_PUBLIC_API_URL="http://127.0.0.1:3001/api"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="your_google_client_id.apps.googleusercontent.com"
