PORT=3001
NODE_ENV=development

# PostgreSQL database connection string for Prisma
DATABASE_URL="postgresql://username:password@localhost:5432/database_name?schema=public"
JWT_PRIVATE_KEY="your_base64_private_key"
JWT_PUBLIC_KEY="your_base64_public_key"
JWT_EXPIRES_IN="15m"
FRONTEND_URL="http://localhost:3000"
